:root{
    --background: #FCF5E5;
    --text_color: #41251f;
    /*--resume_button_color: #356ea1;
    --resume_button_color_hover: #011221;*/    
    
}

*{
  box-sizing: border-box;
}

/***** General site body *****/
html{
  font-size: 62.5%;
}

body{
  font-family: "MedievalSharp", cursive;

  
  background-repeat: repeat;
  background-image: url("exclusive-paper.png");
  mix-blend-mode: multiply;
  background-color: var(--background);
  color: var(--text_color);
  
  margin: 0 auto;
  max-width: 100em;
  padding: 1em 0;

  /* position: sticky; */

}

p {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.center-text{
  text-align: center;
}

/**********************************/

/***** Header ****/
h1{
  text-align: center;
  font-size: 6.5rem;
}

h2{
  text-align: center;
  font-size:4.5rem;
  padding: 10px;
}

h3{
  font-size:2.5rem;
  padding: 10px;
}
/*****************/

/***** Nav Bar ******/
a {
  color: inherit;
  text-decoration: inherit;
}

.nav {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; /* « The magic. */
}

.nav li {
    display: inline; /* « More magic. */
}

.nav a {
    display: inline-block; /* « Last bit of magic. */
    font-size: 3rem;
    padding: 30px;
}

/************************/

/***** Diamond Bullet Points *****/
ul {
  font-size: 20px;
  .diamonds {
    margin: 0;
    margin-bottom: 1em;
    padding-left: 1.5em;
    position: relative;
    
    &:after {
      content: '';
      height: .4em;
      width: .4em;
      background: #D2153A;
      display: block;
      position: absolute;
      transform: rotate(45deg);
      top: .25em;
      left: 0;
    }
    
  }
}
.faq-list{
  /* padding-top: 20px; */
  padding-bottom: 20px;
}
/*********************************/

/***** Image Grid *****/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/**************************/


/*** Clothing Table ***/
#clothiers {
  border-collapse: collapse;
  width: 100%;
  font-size: 2.00rem;
}

#clothiers td, #clothiers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#clothiers tr:nth-child(even){background-color: #f2f2f2;}

#clothiers tr:hover {background-color: #ddd;}

#clothiers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:  #8d6e63;
  color: white;
}

.clothing-link{
  text-decoration: underline;
}
/*****************************/
